/*=============================== Navbar Section ==============================*/

.navbar-ctn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo, .bold{
    font-weight: 600;
}

.nav{
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

.nav a {
    color: black;
}

.nav .flex{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

#hamburger{
    display: none;
    cursor: pointer;
}

#cancel{
    display: none;
    cursor: pointer;
}

/*=============================== Hero Section ==============================*/

.hero{
    padding: 5rem 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 3rem;
}

.hero-text{
    width: 100%;
    max-width: 400px;
}

.hero img{
    width: 100%;
    max-width: 400px;
}

/*=============================== Services Section ==============================*/
.serve-ctn{
    display: flex;
    padding: 4rem 0;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 2rem;
}

.service{
    background-color: var(--secondary-tint-color);
    margin-bottom: 4rem;
}

.serve-left{
    max-width: 400px;
    width: 100%;
}

.serve-left .img-text{
    margin: 1.3rem 0;
    
}

.serve-right{
    max-width: 400px;
    width: 100%;
}

form{
    margin-top: 2rem;
}

form input{
    padding: 12px 22px;
    width: 100%;
    margin-bottom: 6px;
}

/*=============================== Process Section ==============================*/
.process-ctn{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 2rem;
}

.process-left{
    max-width: 400px;
    width: 100%;
}

.process-right{
    max-width: 400px;
    width: 100%;
}

.process-right .line{
    margin-left: 2rem;
}

.process-right .pro-div{
    display: flex;
    column-gap: 1.5rem;
}

/*=============================== Offer Section ==============================*/

.offer{
    text-align: center;
    background-color: var(--secondary-color);
    padding: 2rem 0;
}

.offer-ctn{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
}

.offer1{
    display: flex;
    align-items: center;
    column-gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 2rem;
}

.offer2{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}

.offer-div{
    padding: 20px;
    background-color: #fff;
    max-width: 180px;
    width: 100%;
    text-align: center;
}

.wheel{
    background-color: var(--primary-color);
    color: #fff;
}

.offer-ctn .para{
    padding: 1rem 0;
}


/*=============================== Touch Section ==============================*/

.touch{
    background-color: var(--secondary-color);
}

.touch-img{
    display: flex;
    
}

.touch-img .img1{
    width: 100%;
    max-width: 400px;
    height: 200px;
}

.touch-img .img2{
    width: 100%;
    max-width: 800px;
    height: 200px;
    
}

.touch-show{
    background-color: var(--primary-color);
    height: 200px;
    color: #fff;
    padding: 3rem 1rem 0 1rem;
    width: 500px;
    margin-left: -15rem;
    z-index: 1;
}

.touch-col{
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0;
}

.touch-col h3{
    color: var(--accent-color);
    font-size: 3rem;
}

/*=============================== Brand Section ==============================*/
.brand{
    text-align: center;
    padding: 3rem 0;
}

.brand img{
    width: 180px;
}

.brand-logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/*=============================== Testimonial Section ==============================*/
.testimonial{
    background-color: var(--secondary-color);
}

.test{
    padding: 3rem 0;
}

.test-ctn{
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    gap: 3rem;
    flex-wrap: wrap;
}

.test-flex{
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    padding: 2rem;
}

.test-img-flex{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    padding-bottom: 1rem;
}

.test-btm{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4rem;
}

.img-arrow img{
    width: 30px;
}

/*=============================== FAQ Section ==============================*/
.faq{
    background-color: var(--secondary-tint-color);
    padding: 3rem 0;
}

.faq-ctn{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 3rem 0;
}

.faq-text{
    background-color: #fff;
    padding: 1.7rem;
}

.faq-flex1{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.faq-flex1 img{
    width: 30px;
}



.faq-flex{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 1.7rem;
}

.faq-flex img{
    width: 30px;
}

/*=============================== Responsive Section ==============================*/
footer{
    
}

.foot-top{
    background-color: rgb(22, 22, 22);
    color: #fff;
    padding: 3rem 0;                    
}

.foot-top1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 2rem;
}

.social h2{
    padding-bottom: 2rem;
}

.social img{
    padding-left: 1.5rem;
}

.help{
    margin-bottom: 1rem;
}

.foot-btm {
    background-color: black;
    display: flex;
    color: #fff;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 3rem 0;
    text-align: center;
}

.foot-nav{
    display: flex;
    gap: 2rem;
}

/*=============================== Responsive Section ==============================*/

@media screen and (max-width: 900px) {
    .nav{
        display: none;
        flex-direction: column;
        padding: 1rem 2rem;
        background-color: var(--primary-color);
        z-index: 1;
        row-gap: 0.6rem;
        color: #fff;
        border-radius: 6px;
    }

    .nav a{
        color: #fff;
    }

    .nav .flex{
        display: flex;
        align-items: center;
        column-gap: 1rem;
    }

    .navbar-ctn{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 1rem;
    }

    #hamburger{
        display: block;
    }

    #cancel{
        display: none;
    }

    .offer-ctn{
        row-gap: 2rem;
    }

    .touch-img{
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 1rem;
    }

    .touch-img .img2{
        display: none;
    }

    .touch-img img{
        width: 100%;
        display: none;
    }

    .touch-show{
        background-color: var(--primary-color);
        height: 200px;
        color: #fff;
        padding: 3rem 1rem 0 1rem;
        width: 400px;
        margin-left: 0rem;
        z-index: 1;
        font-size: large;
    }

    .touch h3{
        font-size: 1.8rem;
    }

    .touch-col p{
        font-size: x-small;
    }
}


/*=============================== Service Page ==============================*/
.hero-service{
    display: flex;
    padding: 4rem 0;
    flex-wrap: wrap;
    row-gap: 3rem;
    justify-content: center;
    /* align-items: center; */
}

.hero-service img{
    width: 100%;
    max-width: 450px;
    max-height: 500px;
}

.hero-serve{
    background-color: rgb(10, 10, 10);
    color: #fff;
    padding: 4rem;
    width: 100%;
    max-width: 500px;
    /* margin-left: -100px; */
}

.hero-serve h1{
    margin-bottom: 1rem;
}

/* Auto Diagnotistics Section */

.auto{
    background-color: var(--secondary-tint-color);
    padding: 3rem;
}

.auto-ctn{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.showcase{
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    padding: 2rem;
}

.showcase .car{
    width: 100%;
    max-width: 400px;
    margin-bottom: 2rem;
}

.showcase p{
    margin-top: 1.5rem;
}

.show-case-right{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    max-width: 400px;
}

/* Work Process Section */
.work{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 3rem 0;
}

.work-text{
    width: 100%;
    max-width: 500px;
}

.work-flex{
    display: flex;
    column-gap: 1rem;
    margin-bottom: 1rem;
    align-items: center;
}

.work-flex img{
    width: 30px;
    height: 30px;
}


.work-img{
    width: 100%;
    max-width: 500px;
}

.work-img img{
    width: 200px;
    margin-left: 1rem;
}

/* Auto Diagnotistics Section */
.diagnose{
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 3rem;
    padding: 3rem 0;
    margin-bottom: 5rem;
    align-items: center;
}

.dia-text{
    width: 100%;
    max-width: 500px;
}

.work-img{
    width: 100%;
    max-width: 500px;
}

.dia-img img{
    width: 200px;
    margin-left: 1rem;
}